@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #fafbfb;
    --bg-color-surface: white;
    --default-border-color: #d8dee4;
}

/** Override daisy cards **/
.card {
    border: 1px solid var(--default-border-color);
    background-color: var(--bg-color-surface);
    .card-header {
        border-bottom: 1px solid var(--default-border-color);
        padding: 1rem;

        > .card-title {
            font-size: 0.875rem;
        }
    }

    &.has-data-table {
        .card-header {
            padding-left: 0.75rem;
        }
        .card-body {
            padding: 0;
    
            > .table {
    
                > tbody > tr:last-child {
                    border-bottom-width: 0px;
                }
            }
        }
    }
}