@tailwind base;
@tailwind components;
@tailwind utilities;

.menu > li > a {
    padding-left: 0.25;
}

.menu > li > a.active > img {
    filter: invert(1);
}

[data-theme="dark"] {
    .menu {
        > li > a > img {
            filter: invert(0.6);
        }
    
        > li > a.active > img {
            filter: invert(1);
        }
    }

    img.svg-icon {
        filter: invert(0.6);
    }
}